*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}

header{
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu{
    display: flex;
    text-decoration: none;
    gap: 2.5rem;
    align-items: center;
    
}
.menu a{
   color: #8f8a9a;
   font-size: 1.125rem;
   
}
.menu a span {
    color: #1F1534;
    font-weight: 700;
}

.page1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 14.4rem ;
}
.page1 h1{
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}
.page1 p {
    
    color: #7D7987;
    font-weight: lighter;
    margin-bottom: 2.8rem;
}

.page1 img{
    margin-right: 12,5rem;    
}
.page1 div{
    display: block; 
    max-width: 27rem;
    
}
.page1 div button{
    display: block;
    width: 12.5rem;
    height: 3.75rem;
    background: #458FF6;
    border-radius: 3rem;
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 1rem;
    border-style: none;
}